*.iml
Group3Facebook/.gradle
Group3Facebook/local.properties
Group3Facebook/.idea/workspace.xml
Group3Facebook/.idea/libraries
Group3Facebook/.DS_Store
Group3Facebook/build
Group3Facebook/captures
Group3Facebook/.externalNativeBuild
